// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.step-container {
  background-color: cornsilk;
  padding: 10px;
  margin-bottom: 25px;
}
